@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary-pale: hsl(225, 100%, 94%);
  --clr-primary-bright: hsl(245, 75%, 52%);
  --clr-primary-lightened: 	hsl(245, 83%, 68%);

  --clr-neutral-pale: hsl(225, 100%, 98%);
  --clr-neutral-desaturated: hsl(224, 23%, 55%);
  --clr-neutral-dark: hsl(223, 47%, 23%);
  --clr-shadow: hsla(245, 75%, 52%, 14%);
  --font: "Red Hat Display", sans-serif;

  --border-radius-big: 20px;
  --border-radius-small: 10px;
  --shadow: 0 40px 24px -16px var(--clr-shadow);
  --button-shadow: 0 24px 16px var(--clr-shadow);
  --interactive-elem-transition: all 0.2s ease-in;
}

body {
  font-family: var(--font);
  min-height: 100vh;
  background-color: var(--clr-primary-pale);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > * {
  margin-top: 3em;
}

.card {
  max-width: 42ch;
  margin: 1em; /* for viewport gap on small screens */
  background-color: white;
  border-radius: var(--border-radius-big);
  overflow: hidden; /* fixes border radius issue for image */
  box-shadow: var(--shadow);
}

.card__img {
  width: 100%;
  object-fit: cover;
  vertical-align: text-bottom; /* fixes phantom bottom space */
}

.card__body {
  padding: 1.5em;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .card__body {
    padding: 3em 3em 2em;
  }
}

.card__body > * + * {
  margin-top: 1.75em;
}

.card__title {
  color: var(--clr-neutral-dark);
  font-size: calc(1.3rem + 0.5vw);
  font-weight: 900;
  margin: 0;
}

.card__copy {
  color: var(--clr-neutral-desaturated);

  line-height: 1.6; /* setting both together since line height and    */
  margin: 1em 0;    /* margin both affect visual space before/after text */
}

.card__details {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: var(--clr-neutral-pale);
  border-radius: var(--border-radius-small);
  line-height: 1.6;
}

.card__details::before {
  content: "";
  display: block;
  flex: 0 0 3rem; /* set size don't allow flex shriking */
  height: 3rem;
  background-image: url(images/icon-music.svg);
}

@media screen and (min-width: 450px) {
  .card__details {
    padding: 1.5em;
  }
}

.card__cost-details {
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
}

.card__cost-plan {
  color: var(--clr-neutral-dark);
  font-weight: 900;
}

.card__cost-amount {
  color: var(--clr-neutral-desaturated);
}
.card__cost-link {
  color: var(--clr-primary-bright);
  font-weight: 700;
  margin-left: auto;
}

.card__cost-link:hover {
  color: var(--clr-primary-lightened);
  text-decoration: none;
  transition: var(--interactive-elem-transition);
}

.card__actions > * + * {
  margin-top: 1.25em;
}

.button {
  color: white;
  font-family: var(--font);
  font-size: 0.95rem;
  font-weight: 900;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: var(--clr-primary-bright);
  border: none;
  border-radius: var(--border-radius-small);
  box-shadow: var(--button-shadow);
  transition: var(--interactive-elem-transition);
}

.button:hover {
  background-color: var(--clr-primary-lightened);
  cursor: pointer;
}

.button--transparent, .button--transparent:hover {
  color: var(--clr-neutral-desaturated);
  background-color: unset;
  box-shadow: none;
}

.button--transparent:hover {
  color: var(--clr-neutral-dark);
}

.footer {
  color: white;
  padding: 1.5em;
  background-color: var(--clr-primary-bright);
  align-self: stretch;
  text-align: center;
}

.footer a {
  color: inherit;
}
